<div class="browse">
  <div class="recipes-container">
    <p class="title">Recipes: Try some today!</p>
    <div class="recipes-wrapper">
      <div class="recipe">
        <div class="recipe-image">
          <img src="images/recipe-pizza.jpg" />
        </div>
        <div class="recipe-description"></div>
      </div>
      <div class="recipe">
        <div class="recipe-image">
          <img src="images/recipe-burger.jpg" />
        </div>
        <div class="recipe-description"></div>
      </div>

      <div class="recipe">
        <div class="recipe-image">
          <img src="images/recipe-pilaf.jpg" />
        </div>
        <div class="recipe-description"></div>
      </div>
      <div class="recipe">
        <div class="recipe-image">
          <img src="images/recipe-chowmein.jpg" />
        </div>
        <div class="recipe-description"></div>
      </div>
    </div>
  </div>
</div>
