* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
}

@font-face {
  src: url(fonts/Caveat/Caveat-Regular.ttf);
  font-family: CaveatRegular;
}

@font-face {
  src: url(fonts/Lato/Lato-Regular.ttf);
  font-family: LatoRegular;
}

@font-face {
  src: url(fonts/Lato/Lato-Black.ttf);
  font-family: LatoBlack;
}
