<div class="create-recipe">
  <div class="create-container">
    <p class="title">Hey Michael, create your recipe!</p>

    <div class="create-input-holder">
      <input type="text" id="addImage" placeholder="Add Recipe Image" />
      <input type="text" id="recipeName" placeholder="Recipe Name" />
      <input
        type="text"
        id="recipeDescription"
        placeholder="Recipe Description"
      />
      <input type="text" id="recipeTotalTime" placeholder="Recipe Total Time" />
      <input
        type="text"
        id="recipeServingSize"
        placeholder="Recipe Serving Size"
      />

      <div class="create-recipe-ingredients">
        <p class="create-recipe-ingredients-title">Enter Ingredients:</p>

        <input type="text" id="ingredient1" placeholder="Ingredient #1" />
        <input type="text" id="ingredient2" placeholder="Ingredient #2" />
        <input type="text" id="ingredient3" placeholder="Ingredient #3" />
      </div>

      <div class="create-recipe-instructions">
        <p class="create-recipe-instructions-title">Enter Instructions:</p>

        <input type="text" id="instruction1" placeholder="Instruction #1" />
        <input type="text" id="ingredient2" placeholder="Instruction #2" />
        <input type="text" id="ingredient3" placeholder="Instruction #3" />
      </div>

      <div class="submit">
        Create Recipe
      </div>
    </div>
  </div>
</div>
