* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

#app {
  min-width: 100vw;
  min-height: 100vh; }

@font-face {
  src: url(fonts/Caveat/Caveat-Regular.ttf);
  font-family: CaveatRegular; }

@font-face {
  src: url(fonts/Lato/Lato-Regular.ttf);
  font-family: LatoRegular; }

@font-face {
  src: url(fonts/Lato/Lato-Black.ttf);
  font-family: LatoBlack; }

nav {
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .logo {
    margin-left: 50px; }
  nav .links {
    margin-right: 50px; }
    nav .links a {
      font-family: CaveatRegular;
      text-decoration: none;
      color: #000;
      font-size: 25px;
      margin-right: 35px; }
    nav .links .login {
      padding: 10px 65px;
      border-radius: 30px;
      background-color: #ffd972; }

.home {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home .circle-holder {
    position: relative;
    width: 357px;
    height: 357px; }
    .home .circle-holder .salmon-circle {
      z-index: 0;
      position: absolute;
      width: 167px;
      height: 167px;
      background-color: #fcbcb8;
      border-radius: 50%;
      top: -44px;
      right: -74px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .home .circle-holder .salmon-circle .text {
        width: 105px;
        font-family: LatoRegular;
        font-size: 10px;
        font-style: italic;
        text-align: center; }
    .home .circle-holder .yellow-circle {
      position: absolute;
      z-index: 1;
      width: 357px;
      height: 357px;
      background-color: #ffd972;
      border-radius: 50%;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .home .circle-holder .yellow-circle .home-circle-title {
        font-family: CaveatRegular;
        font-weight: bold;
        font-size: 24px; }
      .home .circle-holder .yellow-circle .home-circle-desc {
        width: 150px;
        font-family: LatoRegular;
        font-size: 13px;
        text-align: center; }

.browse {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.8), rgba(167, 232, 189, 0.8)), url("../images/recipe-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px; }
  .browse .recipes-container {
    width: 75%;
    margin: 0 auto; }
    .browse .recipes-container .title {
      font-family: CaveatRegular;
      font-size: 25px;
      font-weight: bold; }
    .browse .recipes-container .recipes-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .browse .recipes-container .recipes-wrapper .recipe {
        margin-bottom: 50px; }
        .browse .recipes-container .recipes-wrapper .recipe .recipe-holder {
          width: 524px;
          height: 263px;
          display: flex; }
          .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-image {
            border-radius: 24px;
            overflow: hidden;
            width: 300px;
            height: 100%; }
            .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-image img {
              display: block;
              margin-left: auto;
              margin-right: auto;
              height: 100%;
              min-width: auto; }
          .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-description {
            border-radius: 24px;
            overflow: hidden;
            width: 224px;
            height: 100%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-description-title {
              font-family: LatoBlack;
              font-weight: bold;
              font-size: 18px;
              border-bottom: solid 2px #000; }
            .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-description-info {
              width: 108px;
              font-family: LatoRegular;
              font-size: 9px; }
            .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-description-time {
              display: flex;
              justify-content: space-between;
              align-items: center; }
              .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-description-time img {
                width: 23px;
                height: 24.5px; }
              .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-description-time span {
                padding-left: 15px;
                font-family: LatoRegular;
                font-size: 10px; }
            .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-description-servings {
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center; }
              .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-description-servings img {
                width: 23px;
                height: 24.5px; }
              .browse .recipes-container .recipes-wrapper .recipe .recipe-holder-description-servings span {
                padding-left: 15px;
                font-family: LatoRegular;
                font-size: 10px; }
        .browse .recipes-container .recipes-wrapper .recipe .edit-delete {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px; }
          .browse .recipes-container .recipes-wrapper .recipe .edit-delete .edit {
            background-color: #ffd972;
            border-radius: 25px;
            font-family: CaveatRegular;
            font-size: 20px;
            padding: 10px 30px;
            margin-right: 20px; }
          .browse .recipes-container .recipes-wrapper .recipe .edit-delete .delete {
            background-color: #ffd972;
            border-radius: 25px;
            font-family: CaveatRegular;
            font-size: 20px;
            padding: 10px 30px; }

.create-recipe {
  min-height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
  margin-bottom: 100px; }
  .create-recipe .create-container {
    width: 75%;
    margin: 0 auto; }
    .create-recipe .create-container .title {
      font-family: CaveatRegular;
      font-size: 25px;
      font-weight: bold; }
    .create-recipe .create-container .create-input-holder input {
      display: block;
      width: 100%;
      height: 50px;
      border: none;
      border-bottom: solid 3px #000;
      margin-top: 30px; }
    .create-recipe .create-container .create-input-holder .create-recipe-ingredients {
      margin-top: 100px; }
      .create-recipe .create-container .create-input-holder .create-recipe-ingredients-title {
        font-family: LatoBlack;
        font-size: 20px; }
    .create-recipe .create-container .create-input-holder .create-recipe-instructions {
      margin-top: 100px;
      margin-bottom: 100px; }
      .create-recipe .create-container .create-input-holder .create-recipe-instructions-title {
        font-family: LatoBlack;
        font-size: 20px; }
    .create-recipe .create-container .create-input-holder .submit {
      width: 422px;
      height: 52px;
      background-color: #efa7a7;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: CaveatRegular;
      font-size: 25px;
      border-radius: 25px;
      margin: 0 auto; }

.login {
  min-height: 100vh;
  width: 100vw;
  background-color: #ffd972;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #393939;
  font-family: LatoRegular;
  font-style: italic;
  font-size: 15px; }
  footer .copy {
    margin-left: 50px; }
  footer .links {
    margin-right: 50px; }
    footer .links a {
      text-decoration: none;
      color: #393939;
      margin-left: 20px; }
