.browse {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to right,
      rgba($green, 0.8),
      rgba($green, 0.8)
    ),
    url("../images/recipe-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;

  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  .recipes-container {
    // background-color: red;
    width: 75%;
    margin: 0 auto;

    .title {
      font-family: CaveatRegular;
      font-size: 25px;
      font-weight: bold;
    }

    .recipes-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .recipe {
        margin-bottom: 50px;
        width: 524px;
        height: 263px;
        background-color: green;
        display: flex;

        &-image {
          border-radius: 24px;
          overflow: hidden;
          width: 300px;
          height: 100%;
          img {
            height: 100%;
          }
        }

        &-description {
          border-radius: 24px;
          overflow: hidden;
          width: 224px;
          height: 100%;
          background-color: #fff;
        }
      }
    }
  }
}
